
        
        h1 {
            color: rgb(34, 77, 156);
        }  
	h2 {
            color: rgb(34, 77, 156);
        }  

        body {
            background-color: rgb(144, 209, 252);
        }
        Div {
            width: 70%;
        }
            
